/*
Black- #222831
LightBlack- #393E46
Blue- #00ADB5
White- #EEEEEE

font-family: 'Noto Sans JP';
font-family: 'Source Code Pro', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;900&family=Source+Code+Pro:wght@200&display=swap');

/*External CSS*/

.features-width  {
	width:14rem;
}

@media screen and (max-width: 425px) {
  .features-width {
    width:auto;
  }
}

/*----------------*/
.minim-body{
  background-color: #222831;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  color: #EEEEEE;
  padding: 2rem 20rem;
}

@media screen and (max-width: 1024px) {
  .minim-body {
    padding: 2rem 2rem;
  }
}

.nav-bar  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.brand  {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 2em;
  display: inline-block;
  margin: 21.440px 0;
}

.nav-links > ul > li  {
  list-style-type: none;
  float: left;
  margin: 1rem;
}

a  {
  color: #00ADB5;
}

a:hover  {
  text-decoration: none;
}

hr  {
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 0.5rem;
  border-width: 0;
  color: #393E46;
  background-color: #393E46;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Source Code Pro', monospace;
}

h1  {
  font-size: 2.5rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left  {
  text-align: left;
}

.right  {
  text-align: right;
}

.center  {
  text-align: center;
}

.margin-top  {
  margin-top: 5rem;
}

.margin-bottom  {
  margin-bottom: 5rem;
}

.font-light  {
  font-weight: 300;
}

.font-heavy  {
  font-weight: 900;
}

.code  {
  background-color: #393E46; 
  padding: 5px 10px 10px;
  margin-bottom: 25px;
}

.string  {
  color: #02C1A7;
}

.global  {
  color: #db9114;
}

.tag  {
  color: #00A2CD;
}

button  {
  margin: 1rem;
  padding: 10px 15px;
}

.button{
  border: solid #EEEEEE 0.3rem;
  color: #222831;
  font-family: 'Noto Sans JP';
  background-color: #EEEEEE;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
	
.button:hover {
  background-color: #393E46;
  border: solid #393E46 0.3rem;
  text-decoration: none;
}

.button-outline {
  color: #EEEEEE;
  font-family: 'Noto Sans JP';
  background-color: #222831;
  border: solid #EEEEEE 0.3rem;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
	
.button-outline:hover {
  border: solid #393E46 0.3rem;
  color: #393E46;
  text-decoration: none;
}

.card-dark  {
  background-color: #393E46;
  padding: 0.1rem 0.5rem 1rem;
  margin: 1rem auto;
  width: 20rem;
}

.card-light  {
  background-color: #EEEEEE;
  color: #222831;
  padding: 0.1rem 0.5rem 1rem;
  margin: 1rem auto;
  width: 20rem;
}