@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik&display=swap');
/*
font-family: 'Pacifico', cursive;
font-family: 'Rubik', sans-serif;
*/

body {
	margin: 0;
	background: #F1ECC3;
}

.notepad {
	width: 33.33%;
	min-width: 400px;

	margin: 2% auto;
	padding: 0.50%;

	background: #C9D8B6;
	border-radius: 25px;
}


/*----------------------MI-DO------------------------*/
.title {
	width: 50%;

	margin: 4.68% 25%;

	background: #57837B;
	border-radius: 25px;
}

.name {
	color: white;
	text-align: center;
	font-size: 64px;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}


/*----------------------To-do------------------------*/
.to-do {
	width: 90%;
	padding: 0.5px;

	margin: 10px auto;

	background: #57837B;
	border-radius: 25px;

	text-align: center;
	display: flex;
	/*justify-content: space-around;*/
}

.check-box {
	height: 35px;
	width: 35px;

	border-radius: 15%;

	background-color: #C9D8B6;
	margin: 25px;
}

h2 {
	font-weight: lighter;
	color: white;
	text-align: center;
	font-family: 'Pacifico', cursive;
}


/*----------------------Add Button------------------------*/
.add-btn {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background-color: white;
	margin: 15px auto;
	text-align: center;
}

.add {
	color: #57837B;
	font-size: 44px;
}


.del-btn {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background-color: white;
	margin: 15px auto;
	text-align: center;
}

.del {
	color: #57837B;
	font-size: 34px;
}