@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik&display=swap');
/*
font-family: 'Pacifico', cursive;
font-family: 'Rubik', sans-serif;
*/

body {
	margin: 0;
	background: #F1ECC3;
}

.notepad {
	width: 33.33%;
	min-width: 400px;

	margin: 2% auto;
	padding: 0.50%;

	background: #C9D8B6;
	border-radius: 25px;
}

.title {
	width: 50%;
	height: 12.83%;

	margin: 4.68% 25%;

	background: #57837B;
	border-radius: 25px;
}

h1 {
	color: white;
	text-align: center;
	font-size: 64px;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

.add-btn {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background-color: white;
	margin: 15px auto;
}